<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form>
        <input id="text" type="text" placeholder="username"></input><br>
        <input id="pass" type="password" placeholder="password"><br>

        <input id="sub" type="submit" >

    </form>

<style>
    *{
        background-color: rgb(0,7,8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    h1{
        background-color: azure;
    }
    input{

      
        position: relative;
        top: 5em;
      
    }
    #text{
        padding: 0.5em;
    }
    #pass{
        padding: 0.5em;
    }
    #sub{
        background-color: red;
        padding: 0.5em
    }
</style>
</body>
</html>